extends core/base.pug

block title 
  title Заказ отменен

block content

  include blocks/card.pug

  .page 

    include core/header.pug
    +header('mobile-hide')

    main.content 

      // order
      .order
        .wrapper

          // backtitle
          .backtitle.backtitle--mbsmall
            a(href="home.html").backtitle__arrow 
              svg(width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M1 8.09961H21" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
                path(d="M1 8.09961L8.1 15.0996" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
                path(d="M1 8.1L8.1 1" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
            h1.backtitle__text №298456548
            a(href="home.html").backtitle__cross 
          //	/backtitle

          .order__status-title 
            img(src="img/cancelled.png", alt="")
            span 8 апреля 2054

          .order__whatsapp-mobile 
            .btn.btn--green Управлять в WhatsApp

          .order__items 
            .order__item.order__item--big
              .order__food 
                .order__food-left
                  a(href="#").order__food-img.order__food-img--orange
                    img(src="img/food.png", alt="")
                  .order__food-title 
                    a(href="#") Картофель с луком и белыми грибами
                    ul.order__food-list.tablet-visible
                      li 2 шт.
                      li По домашнему
                .order__food-right 
                  ul.order__food-list.tablet-hide
                    li 2 шт.
                    li По домашнему
                  .order__food-price 860&#8381;
              .order__food 
                .order__food-left
                  a(href="#").order__food-img.order__food-img--blue
                    img(src="img/food.png", alt="")
                  .order__food-title 
                    a(href="#") Тар-тар из лососся на авокадо
                    ul.order__food-list.tablet-visible
                      li 10 шт.
                .order__food-right 
                  ul.order__food-list.tablet-hide
                    li 10 шт.
                  .order__food-price 6 750&#8381;
              .order__rezults 
                .order__rezult 
                  div Доставка
                  div 0&#8381;
                .order__rezult 
                  div Итого
                  div 7 610&#8381;
            .order__item 
              .order__name Когда
              .order__text Как можно скорее
            .order__item 
              .order__name Когда
              .order__text Пресненская набережная, 10с1, кв./офис 250, подъезд 1, этаж 25, домофон 250
            .order__item 
              .order__name Оплата
              .order__text Картой курьеру
          .order__buttons
            a(href="#").btn.btn--green Управлять в WhatsApp
            a(href="#").btn.btn--black Отменить заказ

        .floating-button
          .btn.btn--white Повторить заказ
      //	/order

    include core/footer.pug
