extends core/base.pug

block title 
  title Навигация по страницам

block content

  include blocks/card.pug

  .page 

    include core/header.pug
    +header

    main.content 

      // navpage
      .navpage
        .wrapper
          h1 Навигация по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="agreement.html") Пользовательское соглашение
            li 
              a(href="privacy.html") Политика конфиденциальности
            li 
              a(href="orders.html") Мои заказы
      //	/navpage

    include core/footer.pug
