extends core/base.pug

block title 
  title Навигация по страницам

block content

  include blocks/card.pug

  .page 

    include core/header.pug
    +header

    main.content 

      // navpage
      .navpage
        .wrapper
          h1 Навигация по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="agreement.html") Пользовательское соглашение
            li 
              a(href="privacy.html") Политика конфиденциальности
            li 
              a(href="orders.html") Мои заказы
            li 
              a(href="current-order.html") Текущий заказ
            li
              a(href="completed-order.html") Заказ выполнен
            li 
              a(href="cancelled-order.html") Заказ отменен
            li 
              a(href="deposit.html") Депозит
            li 
              a(href="bankcard.html") Банковские карты
      //	/navpage

    include core/footer.pug
