extends core/base.pug

block title 
  title Главная (модалки)

block content

  include blocks/card.pug

  .page 

    include core/header.pug
    +header

    main.content 

      // slider
      .slider
        .wrapper 
          #sliderBanners.slider__slider
            .swiper-wrapper 
              .swiper-slide 
                // banner-black
                .banner-black
                  .banner-black__content 
                    .banner-black__title Доставка из ресторана в керамической <br>посуде
                    a(href="#").banner-black__btn Сториз о сервисе
                      svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M10.0225 0.673828C4.52246 0.673828 0.0224609 5.17383 0.0224609 10.6738C0.0224609 16.1738 4.52246 20.6738 10.0225 20.6738C15.5225 20.6738 20.0225 16.1738 20.0225 10.6738C20.0225 5.17383 15.5225 0.673828 10.0225 0.673828ZM10.0225 2.17383C14.7225 2.17383 18.5225 5.97383 18.5225 10.6738C18.5225 15.3738 14.7225 19.1738 10.0225 19.1738C5.32246 19.1738 1.52246 15.3738 1.52246 10.6738C1.52246 5.97383 5.32246 2.17383 10.0225 2.17383ZM7.72246 6.27383C7.12246 6.27383 6.52246 6.87383 6.52246 7.47383V13.7738C6.52246 14.6738 7.52246 15.2738 8.32246 14.8738L14.3225 11.6738C15.2225 11.2738 15.2225 9.87383 14.3225 9.47383L8.32246 6.27383C8.12246 6.27383 7.92246 6.27383 7.72246 6.27383ZM8.02246 7.87383L13.2225 10.6738L8.02246 13.4738V7.87383Z" fill="#FE9102")
                  .banner-black__img 
                    img(src="img/plate.webp", alt="")
                //	/banner-black
              .swiper-slide 
                // banner-orange
                .banner-orange
                  .banner-orange__content 
                    .banner-orange__title Доставка из ресторана в керамической <br>посуде
                  .banner-orange__img 
                    img(src="img/plate.webp", alt="")
                //	/banner-black
              .swiper-slide 
                // banner-white
                .banner-white
                  .banner-white__content 
                    .banner-white__title Только башни
                      span Москва-Сити
                    .banner-white__text 
                      p Наш ресторан обслуживает только близких соседей. 
                      p Так никакого ожидания, все горячее и свежее.
                  .banner-white__img 
                    img(src="img/moskow-city.svg", alt="")
                //	/banner-black
            .slider__pagination.swiper-pagination 
      //	/slider

      // filter
      .filter#menu 
        .filter__links
          .wrapper
            span.filter__link.active Частным клиентам
            a(href="#").filter__link Корпоративные заказы
        .filter__categories
          .filter__categories-stick
            .wrapper
              .filter__slider#filterSlider
                .swiper-wrapper 
                  .swiper-slide
                    a(href="#favourite").filter__category Любимое
                  .swiper-slide
                    a(href="#snacks").filter__category Закуски
                  .swiper-slide
                    a(href="#salads").filter__category Салаты
                  .swiper-slide
                    a(href="#hotter").filter__category Горячее
                  .swiper-slide
                    a(href="#sushi").filter__category Суши и роллы
                  .swiper-slide
                    a(href="#soups").filter__category Супы
                  .swiper-slide
                    a(href="#baby").filter__category Детское
                  .swiper-slide
                    a(href="#desserts").filter__category Десерты
                  .swiper-slide
                    a(href="#drinks").filter__category Напитки
      //	/filter

      // catalog
      .catalog#snacks
        .wrapper 
          .catalog__title Закуски
          .row.gy
            .catalog__col 
              +card('pepper')
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card('pepper')
      //	/catalog

      // catalog
      .catalog#salads
        .wrapper 
          .catalog__title Салаты
          .row.gy
            .catalog__col 
              +card('pepper')
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card('pepper')
      //	/catalog

      // catalog
      .catalog#hotter
        .wrapper 
          .catalog__title Горячее
          .row.gy
            .catalog__col 
              +card('pepper')
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card('pepper')
      //	/catalog

      // catalog
      .catalog#sushi
        .wrapper 
          .catalog__title Суши и роллы
          .row.gy
            .catalog__col 
              +card('pepper')
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card('pepper')
      //	/catalog

      // catalog
      .catalog#soups
        .wrapper 
          .catalog__title Супы
          .row.gy
            .catalog__col 
              +card('pepper')
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card('pepper')
      //	/catalog

      // catalog
      .catalog#baby
        .wrapper 
          .catalog__title Детское
          .row.gy
            .catalog__col 
              +card('pepper')
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card('pepper')
      //	/catalog

      // catalog
      .catalog#desserts
        .wrapper 
          .catalog__title Десерты
          .row.gy
            .catalog__col 
              +card('pepper')
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card('pepper')
      //	/catalog

      // catalog
      .catalog#drinks
        .wrapper 
          .catalog__title Напитки
          .row.gy
            .catalog__col 
              +card('pepper')
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card
            .catalog__col 
              +card('pepper')
      //	/catalog

      .modals
        .wrapper
          .modals__btn
            .btn.btn--black.modal-trigger(data-modal="#modalPhone") Ввод телефона
            .btn.btn--black.modal-trigger(data-modal="#modalConfirm") Подтвердить телефон
            .btn.btn--black.modal-trigger(data-modal="#modalCode") Ввести код
            .btn.btn--black.modal-trigger(data-modal="#modalCodeAgain") Получить новый код

    include core/footer.pug

  // modal
  .js-modal.modal#modalPhone
    .modal_body
      .modal_content
        .modal__title Ваш <br>телефон
        form(action="#").modal__form
          .modal__input 
            .input 
              .input__input 
                input(type="text" placeholder="+7").js-phone-mask
          .modal__text Мы сохраним ваш номер <br>телефона в тайне
        .modal__ps Вводя номер телефона, вы автоматически принимаете условия 
          a(href="#") Пользовательского соглашения 
          | и соглашаетесь с нашей 
          a(href="#") Политикой конфиденциальности
        .modal_close.js-modal-close
        .modal__arrow.js-modal-close
          svg(width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 8.09998H21" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
            path(d="M1 8.09998L8.1 15.1" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
            path(d="M1 8.1L8.1 1" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
  // /modal

  // modal
  .js-modal.modal#modalConfirm
    .modal_body
      .modal_content
        .modal__title Ваш <br>телефон
        form(action="#").modal__form
          .modal__input 
            .input 
              .input__input 
                input(type="text" placeholder="+7").js-phone-mask
          .modal__buttons 
            button(type="submit").btn.btn--black Подтвердить по СМС
            a(href="#").btn.btn--green или в WhatsApp
        .modal_close.js-modal-close
        .modal__arrow.js-modal-close
          svg(width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 8.09998H21" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
            path(d="M1 8.09998L8.1 15.1" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
            path(d="M1 8.1L8.1 1" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
  // /modal

  // modal
  .js-modal.modal#modalCode
    .modal_body
      .modal_content
        .modal__title Введите <br>код из SMS
        form(action="#").modal__form
          .modal__input 
            .input 
              .input__input 
                input(type="text" placeholder="0 0 0 0").js-phone-code
          .modal__text Повторно получить код можно <br>через 0:12
        .modal_close.js-modal-close
        .modal__arrow.js-modal-close
          svg(width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 8.09998H21" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
            path(d="M1 8.09998L8.1 15.1" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
            path(d="M1 8.1L8.1 1" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
  // /modal

  // modal
  .js-modal.modal#modalCodeAgain
    .modal_body
      .modal_content
        .modal__title Введите <br>код из SMS
        form(action="#").modal__form
          .modal__input 
            .input 
              .input__input 
                input(type="text" placeholder="0 0 0 0").js-phone-code
          .modal__buttons 
            button(type="submit").btn.btn--black Получить новый код
        .modal_close.js-modal-close
        .modal__arrow.js-modal-close
          svg(width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 8.09998H21" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
            path(d="M1 8.09998L8.1 15.1" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
            path(d="M1 8.1L8.1 1" stroke="#212629" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round")
  // /modal

  // product 
  .js-modal.modal.product#modalProduct
    .modal_body.product__body
      form(action="#").modal_content.product__content
        .product__img 
          img(src="img/food.webp", alt="")
          .product__pepper 
            img(src="img/pepper.svg", alt="")
          .product__favourite 
            svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M5.5 0.237305C2.5 0.237305 0 2.7373 0 5.7373C0 7.7373 1.5 9.7373 3.4 11.7373C5.3 13.7373 7.6 15.7373 9.4 17.5373C9.7 17.8373 10.2 17.8373 10.5 17.5373C12.3 15.7373 14.7 13.7373 16.5 11.7373C18.3 9.7373 19.9 7.8373 19.9 5.7373C19.9 2.7373 17.4 0.237305 14.4 0.237305C12.7 0.237305 11.1 1.1373 9.9 2.7373C8.8 1.1373 7.2 0.237305 5.5 0.237305ZM5.5 1.7373C7 1.7373 8.2 2.5373 9.4 4.4373C9.6 4.8373 10.1 4.9373 10.4 4.6373C10.5 4.5373 10.6 4.5373 10.6 4.4373C11.8 2.5373 13 1.7373 14.5 1.7373C16.7 1.7373 18.5 3.5373 18.5 5.7373C18.5 6.9373 17.3 8.7373 15.5 10.6373C13.9 12.3373 11.8 14.1373 10 15.9373C8.2 14.1373 6.2 12.3373 4.5 10.6373C2.7 8.7373 1.5 6.9373 1.5 5.7373C1.5 3.5373 3.3 1.7373 5.5 1.7373Z" fill="white")
        .product__word
          .product__title Картофель с луком и белыми грибами
          ul.product__list 
            li 320 г
            li 1 040 ккал
            li 
              span 430&#8381;
          .product__text Это вкусное и сытное блюдо является любимым блюдом во многих семьях, полюбите его и вы.
          .product__subtitle Дополнительно:
          .product__item 
            input#option_0(type="checkbox" name="option").product__input 
            label(for="option_0").product__label 
              span Побольше лука
              span + 20&#8381;
                span.product__radio 
          .product__item 
            input#option_1(type="checkbox" name="option").product__input 
            label(for="option_1").product__label 
              span По домашнему
              span 0&#8381;
                span.product__radio 
          .product__item 
            input#option_2(type="checkbox" name="option").product__input 
            label(for="option_2").product__label 
              span Грибов побольше
              span + 300&#8381;
                span.product__radio 
          .product__bottom 
            .product__counter 
              .js-counter.card__counter 
                .js-counter-minus.card__counter-minus 
                  svg(width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M13.3 1.75H0.7C0.3 1.75 0 1.45 0 1.05C0 0.55 0.3 0.25 0.7 0.25H13.2C13.7 0.25 14 0.55 14 0.95C14 1.45 13.7 1.75 13.3 1.75Z")
                .js-counter-input.card__counter-input
                  input(type="text" value="1" maxlength="3")
                .js-counter-plus.card__counter-plus 
                  svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M13.3 7.7998H0.7C0.3 7.7998 0 7.3998 0 6.9998C0 6.5998 0.3 6.2998 0.7 6.2998H13.2C13.7 6.2998 14 6.5998 14 6.9998C14 7.3998 13.7 7.7998 13.3 7.7998Z")
                    path(d="M7.7998 0.7V13.2C7.7998 13.7 7.3998 14 6.9998 14C6.5998 14 6.2998 13.7 6.2998 13.3V0.7C6.2998 0.3 6.5998 0 6.9998 0C7.3998 0 7.7998 0.3 7.7998 0.7Z")
            button(type="submit").btn.product__btn Добавить 
              span 430&#8381;
        .product__close.modal_close.js-modal-close
  //	/product 