/* bankcard */
.bankcard { 
  padding-top: 20px;
  padding-bottom: 100px;
  .row {
    display: flex;
    margin-top: -35px;
    > * {
      padding-top: 35px;
    }
    &--mb35 {
      margin-bottom: 35px;
    }
  }
  &__col {
    &--big {
      width: 370px + $gutter;
    }
    &--small {
      width: 170px + $gutter;
    }
  }
  .backtitle {
    margin-bottom: 60px;
  }
  &__btn {
    .btn {
      width: 100%;
      max-width: 320px;
    }
  }
  @media (max-width: $break_sm) {
    padding-top: 0;
    padding-bottom: 50px;
    &__col {
      &--big {
        width: 270px + $gutter;
      }
      &--small {
        width: 140px + $gutter;
      }
    }
  }
  @media (max-width: $break_xs) {
    .backtitle {
      margin-bottom: 35px;
    }
    .row {
      margin-left: -20px;
      > * {
        padding-left: 20px;
      }
    }
    &__col {
      &--big {
        width: 100%;
      }
      &--small {
        width: 50%;
      }
    }
    &__btn {
      margin-top: 40px;
      .btn {
        max-width: none;
      }
    }
  }
}
/* /bankcard */