/* header */
.header { 
  padding: 38px 0 48px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger {
    display: none;
  }
  &__logo {

  }
  &__bar {
    display: flex;
    align-items: center;
    margin-left: -20px;
    > * {
      margin-left: 20px;
    }
  }
  &__user {
    position: relative;
  }
  &__user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $gray;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08), -1px -1px 6px rgba(255, 255, 255, 0.5), -5px -5px 20px #FFFFFF, 5px 5px 20px #D3D3D3;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    &:hover {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
  }
  &__user-menu {
    width: 400px;
    padding: 70px 20px 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05), 60px 60px 80px rgba(0, 0, 0, 0.35);
    border-radius: 40px 40px 40px 5px;
    background-color: $gray;
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  &__user-close {
    width: 24px;
    height: 24px;
    background-color: $text;
    border-radius: 100%;
    position: absolute;
    top: 23px;
    right: 20px;
    cursor: pointer;
    user-select: none;
    &:after,&:before {
      content: '';
      display: block;
      width: 55%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:after {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &:before {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
  &__user-list {
    margin-bottom: 45px;
    li {
      border-top: 1px solid #fff;
      &:last-child {
        border-bottom: 1px solid #fff;
      }
      a {
        display: flex;
        align-items: center;
        padding: 17px 0;
        color: $text;
        svg {
          flex-shrink: 0;
          margin-right: 20px;
          fill: $text;
          transition: 0.3s;
        }
        &:hover {
          color: $green;
          svg {
            fill: $green;
          }
        }
      }
    }
  }
  &__user-btn {
    .btn {
      width: 100%;
    } 
  }
  @media (max-width: $break_sm) {
    padding: 40px 0 16px;
    .wrapper {
      padding: 0 10px;
    }
    &__burger {
      display: block;
    }
    &__bar {
      > .btn {
        display: none;
      }
    }
    &__user-icon {
      box-shadow: none;
    }
  }
  @media (max-width: $break_sm) {
    &.mobile-hide {
      display: none;
    }
    &__user-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 500px;
      border-radius: 0;
      box-shadow: none;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -500px;
      &.open {
        right: 0;
      }
    }
    &__user-list {
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}
/* /header */