/* mobile-menu */
.mobile-menu { 
  display: none;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 70px 20px 20px;
  background-color: $gray;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05), 60px 60px 80px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  bottom: 0;
  left: -500px;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &.open {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
  &__close {
    width: 24px;
    height: 24px;
    background-color: $text;
    border-radius: 100%;
    position: absolute;
    top: 23px;
    right: 20px;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      content: '';
      display: block;
      width: 55%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &__list {
    margin-bottom: 45px;
    overflow-y: auto;
    flex-grow: 1;
    li {
      border-top: 1px solid #fff;
      &:last-child {
        border-bottom: 1px solid #fff;
      }
      a {
        display: flex;
        align-items: center;
        padding: 17px 0;
        color: $text;
        svg {
          flex-shrink: 0;
          margin-right: 20px;
          fill: $text;
          transition: 0.3s;
        }
        &:hover {
          color: $green;
          svg {
            fill: $green;
          }
        }
      }
    }
  }
  &__btn {
    .btn {
      width: 100%;
    }
  }
  @media (max-width: $break_sm) {
    display: flex;
  }
}
/* /mobile-menu */