/* product */
.product { 
  &__body {
    display: flex;
    align-items: center;
    padding: 20px;
    overflow: visible;
  }
  &__content {
    display: block;
    max-width: 770px;
    min-height: 0;
    border-radius: 40px 40px 40px 5px;
    padding: 0;
    background: transparent;
  }
  &__head {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &__container {
    max-height: calc(100vh - 40px);
    border-radius: 40px 40px 40px 5px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    background: #FE724B;
    border-radius: 40px 40px 0px 0px;
    position: relative;
  }
  &__word {
    padding: 60px 60px 100px;
    border-radius: 0 0 40px 5px;
    background-color: $text;
    color: #fff;
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    li {
      &:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 3px;
          height: 3px;
          border-radius: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          position: absolute;
          top: 9px;
          right: -1px; 
        }
      }
      span {
        font-weight: bold;
      }
    }
  }
  &__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 40px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  &__item {
    margin-bottom: 10px;
  }
  &__input {
    position: absolute;
    visibility: hidden;
    &:checked {
      ~ .product__label {
        .product__radio {
          background-color: $orange;
          border-color: $orange;
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  &__label {
    display: flex;
    justify-content: space-between;
    padding: 17px 20px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 30px 3px;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    user-select: none;
    > span {
      display: flex;
      align-items: center;
    }
  }
  &__radio {
    display: block;
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 100%;
    flex-shrink: 0;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 13px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 7L5 10L11 2' stroke='%23212629' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0;
    }
  }
  &__bottom {
    display: flex;
    width: 100%;
    padding: 20px 60px;
    border-radius: 0 0 40px 0;
    background-color: $text;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__counter {
    .card__counter {
      background-color: $text;
      border: 1px solid rgba(255, 255, 255, 0.08);
    }
    .card__counter-minus {
      svg {
        fill: #fff;
      }
      &:hover {
        svg {
          fill: $orange;
        }
      }
    }
    .card__counter-plus {
      svg {
        fill: #fff;
      }
      &:hover {
        svg {
          fill: $orange;
        }
      }
    }
    .card__counter-input {
      input {
        color: #fff;
      }
    }
  }
  &__btn {
    margin-left: 10px;
    flex-grow: 1;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(255, 255, 255, 0.05), -5px -5px 20px rgba(255, 255, 255, 0.1), 5px 5px 20px rgba(0, 0, 0, 0.8);
    background-color: $text;
    color: $orange;
    span {
      margin-left: 5px;
    }
    &:hover {
      color: #fff;
    }
  }
  &__close {
    background-color: #fff;
    &:after, &:before {
      background-color: #FE724B;
    }
  }
  &__pepper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    position: absolute;
    bottom: -10px;
    left: 60px;
  }
  &__favourite {
    position: absolute;
    top: 23px;
    left: 20px;
    transition: 0.3s;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    &:hover {
      transform: scale(1.1);
    }
  }
  @media (max-width: $break_xs) {
    &__content {
      height: auto;
    }
    &__word {
      padding: 20px 20px 100px;
    }
    &__title {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 15px;
    }
    &__list {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 40px;
    }
    &__subtitle {
      
    }
    &__btn {
      span {
        display: none;
      }
    }
    &__pepper {
      left: 20px;
    }
    &__bottom {
      padding: 20px;
    }
  }
  @media (max-width: 370px) {
    &__label {
      font-size: 14px;
    }
    &__bottom {
      flex-wrap: wrap;
    }
    &__counter {
      margin-bottom: 20px;
      .card__counter {
        width: 100%;
      }
    }
    &__btn {
      margin-left: 0;
    }
    &__word {
      padding: 20px 20px 150px;
    }
  }
}
/* /product */